{% extends "admin_base.html" %}
{% block title %}Admin Home{% endblock %}
{% block content %}

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/admin_home.css') }}"
/>

<link
rel="stylesheet"
href="{{ url_for('static', filename='css/styles.css') }}"
/>

<div class="full-screen-image">
  </div>
   
  <div class="content-overlay">
    <h1 class="welcome-message">Welcome to Easy Link Educators</h1>
    <p class="tagline">The Best Choice.</p>
  </div>

  <div class="actions-container">
    <div class="action-item">
        <img src="{{ url_for('static', filename='images/OIP (6).jpg') }}" alt="Post Content" />
        <p>Post Content</p>
    </div>
    <div class="action-item">
        <img src="{{ url_for('static', filename='images/comments.jpg') }}" alt="Receive Comments" />
        <p>Receive Comments</p>
    </div>
    <div class="action-item">
        <img src="{{ url_for('static', filename='images/content-writing.png') }}" alt="Edit Content" />
        <p>Edit Content</p>
    </div>
    <div class="action-item">
        <img src="{{ url_for('static', filename='images/web-design.png') }}" alt="Delete Content" />
        <p>Delete Content</p>
    </div>
</div>
</div>

<script type="text/javascript">
  (function(d, t) {
      var v = d.createElement(t), s = d.getElementsByTagName(t)[0];
      v.onload = function() {
        window.voiceflow.chat.load({
          verify: { projectID: '6734d8807f5ae371faba6606' },
          url: 'https://general-runtime.voiceflow.com',
          versionID: 'production'
        });
      }
      v.src = "https://cdn.voiceflow.com/widget/bundle.mjs"; v.type = "text/javascript"; s.parentNode.insertBefore(v, s);
  })(document, 'script');
</script>

{% endblock %}
